backend/node_modules
backend/.env

frontend/node_modules
frontend/.env

admin/node_modules
admin/.env
admin/logs
admin/*.log
admin/npm-debug.log*
admin/yarn-debug.log*
admin/yarn-error.log*
admin/pnpm-debug.log*
admin/lerna-debug.log*
admin/dist-ssr
admin/*.local
admin/.vscode/*
admin/!.vscode/extensions.json
admin/.idea
admin/.DS_Store
admin/*.suo
admin/*.ntvs*
admin/*.njsproj
admin/*.sln
admin/*.sw?
